* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
}

#main {
    position: relative;
    display: flexbox;
    margin: 30px;
    padding: 20px;
    background-color: rgb(204, 200, 200);
    padding-bottom: 100px;
}

#about {
    margin-top: 30px;
    font-size: medium;
}

#title {
    padding-top: 20px;
    width: 100%;
}

#img-div {
    position: relative;
    display: flexbox;
    background-color: rgb(175, 170, 170);
    padding: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

#image {
    /*position: relative;
    display: flexbox;*/
    max-width: none;
    height: auto;
    display: block;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}

#img-caption,
#about {
    font-weight: bolder;
    font-style: italic;
}

#info {
    position: relative;
    display: flexbox;
    margin-left: 40px;
    padding-top: 20px;
    margin-right: 50px;
    padding-bottom: 20px;
    font-size: larger;
}

#info2 {
    text-align: center;
    justify-items: centerS;
}

#link {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: larger;
    position: relative;
    margin: 100px;
}

#table {
    position: relative;
    display: flexbox;
    align-content: center;
}

table {
    margin-top: 20px;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

th {
    background-color: rgb(104, 101, 101);
}

td,
th {
    padding: 5px;
    text-align: center;
}

h1,
h2 {
    margin-top: 10px;
}